@import url('https://fonts.googleapis.com/css2?family=Aboreto&display=swap');

.App {
  text-align: center;
  font-family: 'Aboreto', cursive;
  font-weight: bold;
}
header {
  background-color: green;
}
nav {
  display: flex;
  justify-content: space-between;
}
.logoLink {
  display: flex;
  justify-content: flex-start;
}
.navLinks:hover {
  text-decoration: none;
  color: white;
  font-family: 'Poppins', sans-serif;
}
.navLinks {
  text-decoration: none;
  font-size: 23px;
  padding-left: 17px;
  font-family: 'Poppins', sans-serif;
  color: rgb(0, 194, 203);
  display: flex;
  justify-content: flex-end;
  margin-right: 10px;
}
