@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC&display=swap');
.App {
  text-align: center;
  font-family: 'Alegreya Sans SC', sans-serif;
  font-weight: bold;
}
nav {
  display: flex;
  justify-content: space-between;
}
.logoLink {
  display: flex;
  justify-content: flex-start;
}
.navBarLinks:hover {
  text-decoration: none;
  color: rgb(27, 204, 224);
  font-family: 'Alegreya Sans SC', sans-serif;
}
.navBarLinks {
  text-decoration: none;
  font-family: 'Alegreya Sans SC', sans-serif;
  color: rgb(56, 112, 194);
  padding: 10px;
}
.nav {
  font-size: 23px;
  margin: 20px;
}
.here {
  color: rgb(56, 112, 194);
}
.flightSearch {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.searchCard {
  margin-top: 100px;
  margin-right: 100px;
  background-color: white;
  width: 27vw;
  height: 60vh;
  border-radius: 10%;
}
.searchField {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  font-size: 27px;
  color: rgb(56, 112, 194);
  padding: 5px;
}
.home {
  background-image: url('https://p0.pikist.com/photos/450/710/airplane-view-mountains-above-landscape-top-flight-scenic-sky.jpg');
  background-size: cover;
  height: 90vh;
}
.logoH {
  height: 13vh;
}
.buttonz:hover {
  text-decoration: none;
  background-color: rgb(56, 112, 194);
  color: white;
}

.buttonz {
  font-size: 21px;
  cursor: pointer;
  font-weight: bold;
  color: rgb(56, 112, 194);
  font-family: 'Alegreya Sans SC', sans-serif;
}
