@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC&display=swap');
.App {
  text-align: center;
  font-family: 'Alegreya Sans SC', sans-serif;
  font-weight: bold;
}
nav {
  display: flex;
  justify-content: space-between;
}
.logoLink {
  display: flex;
  justify-content: flex-start;
}
.navLinks:hover {
  text-decoration: none;
  color: white;
  font-family: 'Alegreya Sans SC', sans-serif;
}
.navLinks {
  text-decoration: none;
  font-size: 23px;
  padding-left: 17px;
  font-family: 'Alegreya Sans SC', sans-serif;
  color: rgb(0, 194, 203);
  display: flex;
  justify-content: flex-end;
}
.nav {
  margin-right: 20px;
}
